$main-color:#999;
$white: #fff;
$gray:#333;
$section-bg:#f5f5f5;

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family:sans-serif;
  margin:0px;
  background:$section-bg;
}
body {
  margin:0px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  flex: 1;
  background:$section-bg;
}

header{
  background: $main-color;
  justify-content: center;
  h1 {
    padding: 10px;
    margin: 0;
  }
}
footer {
    background: $main-color;
    justify-content: center;
    text-align:center;
    line-height: 60px;
    color:$white;
    position: relative;
    margin-top: -60px;
    h1 {
      padding: 10px;
      margin: 0;
    }
  }

nav {
  display: flex;
  background: $main-color;
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0px;
    li {
      padding: 30px 10px;
      a {
        padding: 10px 15px;
        color: $white;
      }
    }
  }
}
section {
  background:$section-bg;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-logo {
  height: 80px;
  margin-left:25px;
  //padding:20px;
}

.App-header {
  background-color: #222;
  color: $white;
  width:100%;
  h2 {
    padding:20px;
  }
}

.App-intro {
  font-size: large;
  padding-bottom: 60px;
}

