#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0px;
  background: #f5f5f5; }

body {
  margin: 0px; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

main {
  flex: 1;
  background: #f5f5f5; }

header {
  background: #999;
  justify-content: center; }
  header h1 {
    padding: 10px;
    margin: 0; }

footer {
  background: #999;
  justify-content: center;
  text-align: center;
  line-height: 60px;
  color: #fff;
  position: relative;
  margin-top: -60px; }
  footer h1 {
    padding: 10px;
    margin: 0; }

nav {
  display: flex;
  background: #999; }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0px; }
    nav ul li {
      padding: 30px 10px; }
      nav ul li a {
        padding: 10px 15px;
        color: #fff; }

section {
  background: #f5f5f5; }

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.App-logo {
  height: 80px;
  margin-left: 25px; }

.App-header {
  background-color: #222;
  color: #fff;
  width: 100%; }
  .App-header h2 {
    padding: 20px; }

.App-intro {
  font-size: large;
  padding-bottom: 60px; }
